/**
    * Basic Portfolio stylesheet
**/


* {
    box-sizing: border-box;
          
       }
 /** 
     * body style
 **/
 
 
 body {
     font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
     color: black;
     background-color: beige;
     width: 1020px; 
     margin: auto;
   
         } **/
 
 
/** put time on right side of page **/
   .time {
       float: right;
   }

/** apply to error message **/
.error {
    color: red
}

/** size pictures **/
.trainPicture {
    width: 300px;
    height: 200px;

}
/** highlight input box when entering data **/
input:focus {
  background-color: yellow;
}